/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.diagonal-split-background {
  background-color: #06130a;
  background-image: -webkit-linear-gradient(135deg, #1d3b3b 50%, #123a1e 50%);
}

.hotelpage-head {
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  /* margin-left: 20px; */

}

.hotelpage-container {
  width: 100%;
  /* margin-left: 40px;
  margin-left: 40px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.login-form {
  /* absolute top-0 left-0 right-0 bg-[#ee8549b3] w-96 mx-auto my-6 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ee8549b3;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .hotelpage-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hotelpage-head {
    text-align: center;
    margin: 0;
  }

}

body {
  overflow-x: hidden;
}

.darkModeCSS {
  background-color: #101010;
  color: white;
}

.button {
  padding: 5px 10px;
  /* margin-bottom: -10px; */
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #00416a;
  color: white;
  transition: all ease-in-out 0.5s;
  align-items: stretch;
  min-height: 30px;
  min-width: auto;
  font-size: 14px;
  cursor: pointer;
}

.disabled {
  background-color: darkgrey;
  color: black;
}

.button:hover {
  background-color: darkgreen;
}

.disabled:hover {
  background-color: darkgrey;
  color: black;
}


.input-field {
  outline: none;
  border: none;
  padding: 5px 30px;
  border-radius: 30px;
  color: black;
  /* cursor: pointer; */
}

button:visited {
  background-color: gray;
}

.dropdown a {
  display: block;
  color: black;
  padding: 6px 12px;
  text-decoration: none;
}

.dropdown a:hover {
  color: black;
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  display: flex;
  outline: transparent;
  border-top: 1px solid #f46b45;
  flex-direction: column;
  width: 200px;
  position: absolute;
  top: 140%;
  left: 20%;
  background-color: #fff;
  color: black;
  padding: 8px;
  /* border-radius: 4px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all ease-in-out 0.5s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all ease-in-out 0.5s;
  z-index: 2000;

}

.member-card {
  border: 1px solid black;
  margin: 30px;
  padding: 30px;
}

.member-name1 {
  font-weight: 600;
  color: #00416a;
  text-transform: capitalize;
  font-size: 20px;
}

.edit-icon {
  position: absolute;
  left: 50px;
  width: 50px;
  z-index: 1000;
  color: white;
}

.cartContainer {
  border: 1px solid black;
  box-sizing: 5px 10px 15px gray;
  /* height: 300px; */
  width: 50%;
  margin: 50px auto;
  padding: 50px;
  background-color: white;
  background-color: black;
  color: white;
}

.cartContainer-100 {
  box-sizing: 5px 10px 15px gray;
  /* height: 300px; */
  width: 100%;
  margin: auto;
  padding: 50px;
  /* background-color: black; */
  color: black;
  overflow: scroll;
}

.cartDisplay {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;

}

.cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.cart-image1 {
  height: 80px;
  width: 80px;
  border-radius: 5px;
}

.underline {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
  border-color: white;
  align-items: center;
  margin: 20px 0;

}

.length {
  color: tomato;
  padding: 0 10px;
}

.best-seller-tag {
  font-size: small;
  max-width: 100px;
  font-weight: lighter;
  background-color: purple;
  color: white;
  border: none;
  outline: none;
  padding: 2px 5px;
  position: relative;
  overflow: hidden;
}

.best-seller-tag::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  animation: shine 1.5s 5s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.addon-card {
  border: 1px solid #999;
  padding: 10px;
  width: 100px;
  position: relative;
  max-height: 150px;
  /* border-radius: 10px; */
}

.button-short {
  position: absolute;
  top: 100%;
  bottom: 0;
}

.image-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 24px;
  max-width: 24px;
}

.image-remove-button {
  position: absolute;
  top: 20px;
  right: 0;
  max-height: 24px;
  max-width: 24px;
  z-index: 1000;
}

.favourite-tags {
  max-width: 500px;
  font-size: larger;
  font-weight: bold;
  background-color: purple;
  color: white;
  border: none;
  outline: none;
  padding: 80px 150px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.favourite-tags:hover {
  background-color: plum;
}

.favourite-tags::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to right, transparent, white, transparent); */
  animation: shine 6s 5s infinite;
}

.hamburger-open {
  position: absolute;
  outline: transparent;
  left: -5px;
  top: 73px;
  /* bottom: 0; */
  opacity: 1;
  background-color: #ddd;
  height: 85vh;
  width: 250px;
  line-height: 40px;
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 5px 10px;
  z-index: 1000;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

.order-border {
  border-bottom: 2px solid #f46b45;
}

.landing-div>div>.food-image {
  max-height: 100vh;
  width: 100%;
}

.login-food-image {
  width: 100%;
  height: 100vh;
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.login-container1 {
  display: grid;
  grid-template-columns: 70% 30%;
}

@media screen and (max-width:955px) {
  .login-container1 {
    grid-template-columns: 50% 50%;
    overflow: auto;
  }
}

@media screen and (max-width:769px) {
  .login-container1 {
    grid-template-columns: 100%;
  }
}

.landing-div {
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 60% 40%;
  box-shadow: 10px 10px 10px black;
}

@media screen and (max-width:955px) {
  .landing-div {
    grid-template-columns: 70% 30%;
  }
}

@media screen and (max-width:769px) {
  .landing-div {
    grid-template-columns: 100%;
  }

  .landing-div>div>img {
    margin: 0 30px;
  }


}

.landing-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
}

.landing-image {
  width: 10rem;
  height: 6rem;
  border-radius: 0.375rem;
  background-color: transparent;
}

.landing-input {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
}

.landing-input>input {
  border: 1px solid black;
  padding: 10px 20px;
  outline: none;
}

.landing-input>button {
  background-color: #eea849;
  padding: 10px 10px;
  border: none;
  outline: none;
  height: inherit;
  cursor: pointer;
}

.landing-input>button:hover {
  color: white;
  transition: all ease-in-out 0.5s;
}

.city-names {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.city-names:nth-child(even) {
  color: gray;
}

.filter-dropdown-option {
  width: 200px;
}

.landing-instruc {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-columns: 35% 35% 30%;
  align-items: center;
  background-color: chocolate;
  padding: 0px 40px;
}

@media screen and (max-width:750px) {
  .landing-instruc {
    width: 100%;
  }

  .landing-input {
    grid-template-columns: 60% 40%;
  }

  .landing-image {
    width: 6rem;
    height: 4rem;
  }
}

.filter-dropdown-option {
  width: 10rem;
}

@media screen and (min-width: 640px) {
  .filter-dropdown-option {
    width: 2.4rem;
    font-size: small;
    /* Adjust width for larger screens */
  }
}

@media screen and (min-width: 768px) {
  .filter-dropdown-option {
    width: 2.4rem;
    font-size: small;
    /* Adjust width for tablets */
  }
}

@media screen and (min-width: 1024px) {
  .filter-dropdown-option {
    width: 2.4rem;
    font-size: small;
    /* Adjust width for desktops */
  }
}

.mobile-content {
  margin: 0;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  align-items: center;

}

.mobile-photos {
  display: flex;
  max-width: 400px;
}


.mobile-content:nth-child(3) {
  margin-left: -20px;
}

@media screen and (max-width:750px) {
  .mobile-content {
    grid-template-columns: 100%;
  }

  .mobile-photos {
    display: none;
  }
}

.item {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #fff;
  /* border: 1px solid blue;/ */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.item>img {
  height: 50%;
  /* margin: 10px; */
  /* transition: transform 0.9s; */
}

.item>img:hover {
  transform: scale(1.05);
  /* height: 85%; */
  cursor: pointer;
  /* transition: all .2s ease; */
}

.promoted:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  animation: shine 1.5s 5s;
}

.swiggy-header {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: -10px;
  left: 0;
  padding-left: 16px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  background: linear-gradient(rgba(43, 51, 66, 0) 0%, rgb(27, 30, 36) 84.21%);
}